body {
  height: 100%;
}

#root-container {
  height: 100%;
}

.list-container {
  height: 100%;
  display: flex;
  justify-content: center;
  /* top: 100px; */
}

.list-bar {
  width: 4px;
  margin: 0 1px;
}
